body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFF;
}

main {
    padding: 20px;
}

#contacto {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px solid #00FF00;
}

h2, h3 {
    color: #00FF00;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    color: #00FF00;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00FF00;
    margin-top: 5px;
    background-color: #222;
    color: #FFF;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00FF00;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #FFF;
}

#toggleFormButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00FF00;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleFormButton:hover {
    background-color: #FFF;
}
